* {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
}

*@media screen {
  : -webkit-full-screen
}

@font-face {
  font-family: "poppins-bold";
  src: url(/fonts/Poppins-Bold.ttf );
}

@font-face {
  font-family: "poppins-normal";
  src: url(/fonts/Poppins-Regular.ttf);
}

body {
  font-family: "poppins-normal";
  background-color: rgb(107, 107, 105);
}

.container {
  height: 100%;



}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20 px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: black;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: rgb(255, 255, 255);
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;

}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

nav ul li a :hover {
  color: aqua;
  transition: 4s;
}

.btn {
  background-color: rgb(1, 15, 15);
  color: white;
  text-decoration: none;
  border: 4px solid transparent;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 35px;
}

.section1 h1 {
  text-align: center;
  color: white;
  margin: 20px;
  font-size: 40px;
}

.section1 {
  background-color: antiquewhite;
  max-width: 95%;
  height: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around
}

.man {
  height: 400px;
  width: 300px;
}

.subhead1 {
  line-height: 1;
  margin: 20px;
  font-size: 30px;
  text-align: left;
}

.section2 {
  max-width: 95%;
  height: 600px;
  margin: 0 auto;

}

.myskills {
  font-size: 50px;
  font-weight: bold;
  text-align: center;

}

.subhead2 {
  font-size: 30px;
  text-align: center;
}

.skills ul li {
  font-size: 20px;
  list-style: none;
  display: inline-block;

  font-weight: bold;
  padding-top: 20 px;
  padding-left: 8%;
  padding-right: 8%;
  margin: 35px;

}

.skillicons {
  padding: 10px 25px;
  display: inline-block;
  padding-top: 20 px;
  padding-left: 8%;
  padding-right: 8%;
  margin: 35px;
}

.section3 {
  background-color: antiquewhite;
  max-width: 95%;
  height: 1000px;
  margin: 0 auto;
  justify-content: space-evenly;
}

.section3 img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-left: 10%;


}

.project {
  font-size: 50px;
  text-align: center;
}

.evenex {
  height: 400px;
  width: 800px;
}

.cowboy {
  height: 400px;
  width: 800px;
}

.sig {
  height: 400px;
  width: 800px;
}

.oxi {
  height: 400px;
  width: 800px;
}

.proshots {
  align-content: center;
  padding: auto;
  justify-content: center;
}

.contact {
  text-align: center;
}

.section4 {
  max-width: 95%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  content: ;

  justify-content: space-evenly;

}

.cotactbox {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.input-field {
  width: 400px;
  height: 50px;
  margin-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
  float: left;
  display: inline-block;
  justify-content: left;
}

form {
  align-items: center;
  justify-items: center;
  justify-content: right;
}

.textarea-field {
  height: 150px;
  padding-top: 180px;
}

}

.social {
  text-align: center;

}

.social-media {
  align-items: center;
}

footer ul li {

  list-style: none;
  display: inline-block;
  ;

}