* {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "poppins-bold";
  src: url(/fonts/Poppins-Bold.ttf );
}

@font-face {
  font-family: "poppins-normal";
  src: url(/fonts/Poppins-Regular.ttf);
}

body {
  font-family: "poppins-normal";
  background-color: aquamarine;
}

.container {
  height: 100%;



}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20 px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: black;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: rgb(255, 255, 255);
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;

}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

nav ul li a :hover {
  color: aqua;
  transition: 4s;
}

.btn {
  background-color: aqua;
  color: white;
  text-decoration: none;
  border: 4px solid transparent;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 35px;
}

.section1 h1 {
  text-align: center;
  color: white;
  margin: 20px;
  font-size: 40px;
}

.section1 {
  background-color: antiquewhite;
  max-width: 95%;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around
}

.man {
  height: 400px;
  width: 300px;
}
.subhead1 {
  line-height: 1;
  margin: 20px;
  font-size: 30px;
  text-align: left;
}
.section2{
  max-width: 95%;
  height: 600px;
  margin: 0 auto;
  
}
.myskills{
  font-size: 50px;
  font-weight: bold;
  text-align: center;

}
  
.subhead2{
  font-size: 30px;
  text-align: center;
}
.skills ul li {
  font-size: 20px;
  list-style: none;
  display: inline-block;
  
  font-weight: bold;
  padding-top: 20 px;
  padding-left: 8%;
  padding-right: 8%;
  margin:35px;
  
}
.skillicons {
  padding: 10px 25px ;
  display: inline-block;
  padding-top: 20 px;
  padding-left: 8%;
  padding-right: 8%;
  margin:35px;
}
.section3{
  max-width: 95%;
  height: 1000px;
  margin: 0 auto;
}
.project{
  font-size: 50px;
  text-align: center;
}
.evenex{
  height: 400px;
  width: 800px;
}
.cowboy{
  height: 400px;
  width: 800px;
}
.sig{
  height: 400px;
  width: 800px;
}
.oxi{
  height: 400px;
  width: 800px;
}
.projects{
  padding-left: 8%;
  padding-right: 8%;
  margin: 100px;
  display: inline-block;

}


